body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: cornsilk;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
#gameboard{
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
.square{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
}
.circle{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 10px solid blue;
    box-sizing: border-box;

}
.cross {
    position: relative;
    width: 90px;
    height: 90px;
    transform: rotate(45deg);
  }
  .cross:hover {
    opacity: 1;
  }
  .cross:before, .cross:after {
    position: absolute;
    content: ' ';
    background-color: #762626;
  }
  .cross:before {
   
    left: 50%;
    width: 15%;
    margin-left: -15%;
    height: 100%;
  }
  .cross:after {
    /* transform: rotate(-45deg); */
    height: 15%;
    margin-top: -15%;
    width: 100%;
    top: 50%;
  }
  